@import "reset.css";
/* Start */
body{
    min-width: 500px;
    width: 100%;
    background: url("../../Static/img/bacckground.jpg") no-repeat center center;
    background-size: cover;
}

button{
    cursor: pointer;
}

.gold_btn, .brown_btn{
    background: #ecae06;
    color: #7d5c04;
    border: 3px solid #f3cb5f;
    padding: 7px;
    font-weight: bold;
    font-size: 14px;
}

.brown_btn{
    background: #d38806;
    border: 3px solid #e3b360;
}

input{
    padding: 7px;
}