.modal_window {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal_img {
    width: 100%;
    max-width: 150px;
}

.modal_game_status {
    text-align: center;
    margin: 20px 0;
}

/* PANEL */
.modal_btn_panel {
    width: 100%;
    display: flex;
}

.modal_btn_panel button {
    width: 100%;
    margin: 0 5px;
}