.page_sign_in{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 280px;
}

.sign_in_form{
    font-size: 20px;
    width: 100%;
    max-width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: #2974a1;
    color: #ffffff;
    border: 5px solid #76a6c3;
}

.sign_in_form h3{
    text-align: center;
}

.sign_in_data{
    margin: 15px 0;
    border: 2px solid #a4abba;
}

.sign_in_data_err{
    margin: 15px 0;
    border: 2px solid rgba(255,21,34,0.5);
}
